.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  color: blue;
  font-size: 22px;
  padding-left: 90px;
  font-weight: 600;
}
.logo-im {
  padding-left: 6px;
  color: #0d60d8;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-items {
  display: flex;
  margin-right: 80px;
}
.icons {
  margin-right: 4px;
}
.nav-item {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 14px;
}

.nav-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.vertical-line {
  height: 24px;
  border-left: 1px solid rgb(0, 0, 0, 0.6);
  margin-right: 25px;
}
